{% extends "base.html.twig" %}

{% block content %}
	<h1>Liste des Formations</h1>
	<ul>
		{% for formation in Formations %}
			<li>
				{{ formation.name }}
			</li>
		{% endfor %}
	</ul>
{% endblock %}
