{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>

    {# {{ form_errors(registrationForm) }} #}

    {# {{ form_start(registrationForm) }} #}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}