{% extends "base.html.twig" %}

{% block content %}
	<h1>Candidater</h1>
	<form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enregistrer</button>
        </form>
{% endblock %}