{% extends "base.html.twig" %}

{% block content %}
	<h1>Liste des Formations</h1>
	<ul>
		{% for formation in Formations %}
			<li>
				{{ formation.etablissement }}
				 Formation de : {{ formation.name }} de type
				{{ formation.type }} <a href="{% url 'candidater' %}">candidater</a>
				
			</li>
		{% endfor %}
	</ul>
{% endblock %}
